# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/mockcam

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Config and media local directories
/config/settings.json
/media/*
!/media/.gitkeep
